doctype html
html
  head
    title Clone Trello
    link( rel="shortcut icon" href="dist/src/assets/img/favicon.ico" type="image/x-icon")
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
  body
    block content
