doctype html
html
  head
    title Clone Trello
    link( rel="shortcut icon" href="dist/src/assets/img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")

    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js")
  body
    block content
