extends layout

block content

  header.no-select
    .container
      .row
        div.col-md-12
          h1.board-heading Trello <span>board</span>
    .container
      .row
        div.lang.col-md-3
          label(for="lang", data-translate='language') Language:
          select.select-lang(name="language" id="lang")
            option(value="en") En
            option(value="ru") Ru
            option(value="fr") Fr
        div.title.col-md-3
        div.members.col-md-3
          div.user-info-name#name(data-translate='members') Members:
          div.user-info
            div.user-info-avatar(title="avatar")#avatar
        div.col-md-3.text-right
          span(data-sound="delete").openNav &#x2630;

  section.todo#main
    div.columnList
    div.addColumn(data-translate='addColumn') + Add Column
    div.column_modal.modal.hidden
      div.modal_overlay
      div.modal_content
    div.note_modal.modal.hidden
      div.modal_overlay
      div.modal_content

  aside#mySidenav.sidenav
    div.navHeader.no-select
      div(data-translate='menu') &#x2630 Menu
      div(data-sound="delete").closebtn &times
    div.change-bg.menubtn
      i.fas.fa-cog
      span(data-sound="delete").changemainbg( data-translate='changemainbg') Change background
      div.menu
        .menu__content
          span(data-sound="delete").close &times
          .menu__item
            button(data-sound="delete",data-action="changecolor", data-translate='changecolor').btn.btn-success.menu__btn Color
            button(data-sound="delete",data-action="changephoto", data-translate='changephoto').btn.btn-success.menu__btn Photo
        .menu__sub.menu__sub_column(data-type="changecolor")
          span(data-sound="delete").close &times
          .menu__item
            label.menu__label(for="main-background", data-translate='changecolor') Color
            input(type="color", id="main-background" name="main-background", value="#e66465")
        .menu__sub(data-type="changephoto")
          span(data-sound="delete").close &times
          .menu__item.menu__item_wrap#images
            .sample(data-sound="change",style = `background : url(dist/src/assets/img/1.jpg) no-repeat 50% / cover`)
            .sample(data-sound="change",style = `background : url(dist/src/assets/img/2.jpg) no-repeat 50% / cover`)
            .sample(data-sound="change",style = `background : url(dist/src/assets/img/3.jpg) no-repeat 50% / cover`)
            .sample(data-sound="change",style = `background : url(dist/src/assets/img/4.jpg) no-repeat 50% / cover`)
            .sample(data-sound="change",style = `background : url(dist/src/assets/img/5.jpg) no-repeat 50% / cover`)
    div.signupbtn.menubtn
      i.fas.fa-user-plus
      span(title="Invite to board", data-translate='addMember') Add Member
    div.logoutbtn.menubtn
      i.fas.fa-sign-out-alt
      span(data-translate='logOut') Log out
    div.loglist
      div.navHeader.no-select
        div
          i.fas.fa-bell
          span(data-translate='activity') Activity

  footer.footer
    p
      span.footer__copy 2021 © rsclone
      a(href="https://github.com/dispet") dispet
      a(href="https://github.com/AlexeyFL") AlexeyFL
      a(href="https://github.com/dispet") unclekoin
      a(href="https://rs.school/js")
        img.footer__image(src="dist/src/assets/img/rs_school_js.svg" width="50" height="50" alt="Rolling Scopes")

  script(type="module" src="/dist/main.bundle.js")
