extends layout

block content

  form(class='signupForm form', method='post')
    .container
      h3.form__heading Signup
      div.mb-3.row
        div.col-md-12
          input(type='text', placeholder='email', name='email', required).form-control.form__input_1
      div.mb-3.row
        div.col-md-12.mb-3
          input(type='password', placeholder='password', name='password', required).form-control.form__input_2
      div.mb-3.row
        div.col-md-12.mb-3
          input(type='text', placeholder='name',name='name', required).form-control
      div.mb-3.row.form__input_3
        div.col-md-12.mb-3
          input(type='text', placeholder='phone', name='phone', required).form-control.form__input_4
        div.col-md-12
          button(type="submit").btn.btn-primary.mb-3 signup

  script(type="module" src="/dist/signup.bundle.js")
