@import "common/reset", "common/variable", "components/modal", "components/aside", "components/labels";

html {
    height: 100%;
}
body {
    position: relative;
    overflow-y: auto;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    @media (max-width: 770px) {
        height: 100%;
        padding-bottom: 170px;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    transition: margin-left 0.5s;
    width: 100%;
    background-color: black;
    color: white;
    background: #3b9703;
    padding: 15px 0;
    @media (max-width: 770px) {
        text-align: center;
        .lang,
        .title {
            margin-bottom: 10px;
        }
    }
}

.team {
    transition: margin-left 0.5s;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 60px;
    font-weight: bold;
    display: flex;
}

.members {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info-avatar {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    color: white;
    display: none;

    &.active {
        display: inline-block;
    }
}

.user-info {
    display: flex;
}

.board-header-btn,
.submit-btn {
    color: #1f1e1e;
    font-family: "Times New Roman", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.title {
    font-size: 23px;
    font-weight: 700;
}

.todo {
    display: flex;
    width: 100%;
    height: 88%;
    padding: 30px;
    @media (max-width: 770px) {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 30px 3px;
    }
}

.columnList {
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
    }
    @media (max-width: 770px) {
        height: 100%;
    }
}

.column {
    display: inline-block;
    vertical-align: top;
    background-color: $backgrey;
    min-width: 285px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: $shadow;
    @media (max-width: 770px) {
        display: block;
        margin-right: 0;
    }
}

.columnHeader {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.columnTitle {
    display: flex;
    justify-content: space-around;
}

.circle {
    flex: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(210, 210, 210);
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-right: 10px;
}

.addBtn {
    background-color: $backgrey;
    font-size: x-large;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    color: darkgrey;
    cursor: pointer;
}

.closeBtn {
    background-color: $backgrey;
    font-size: x-large;
    font-weight: bold;
    color: darkgrey;
    cursor: pointer;
}

.columnBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.note {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    flex: none;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    width: 90%;
    background-color: white;
    border-radius: 8px;
    max-width: 260px;
    @media (max-width: 770px) {
        max-width: 100%;
    }
}

.noteHeader {
    margin: 5px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.noteTitle {
    display: inline-block;
    width: 85%;
    padding-top: 10px;
    cursor: pointer;
}

.noteName {
    white-space: normal;
}

.noteRemoveBtn,
.noteAddMemberBtn {
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

.noteFooter {
    margin-bottom: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.added {
    color: darkgrey;
}

.dropdown {
    height: 130px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

textarea {
    resize: none;
    height: 80%;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.dropdown_btns {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 5px;
}

.dropdown_btns > div {
    width: 49%;
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.cancel-btn {
    background-color: $redBtnColor;
}

.addColumn {
    flex: none;
    width: 240px;
    margin-left: 5px;
    height: 60px;
    border-style: dashed;
    border-width: 2px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    color: darkgrey;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    @media (max-width: 770px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }
}

.footer {
    position: static;
    background: #2c2c2d;
    border: none;
    @media (max-width: 770px) {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    a {
        text-decoration: none;
        transition: transform 0.3s;
        &:hover {
            transform: translateY(-2px);
        }
    }
}

footer p {
    color: #bdbdbd;
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    @media (max-width: 500px) {
    //     flex-direction: column;
    //     padding: 10px;
    // }
    // & > * {
    //     margin-bottom: 10px;
    }
}

a {
    color: #bdbdbd;
}
